<div class="row clearfix">
	<div class="col-md-2 column"></div>
	<div class="col-md-6 column">
		<h3>{{descriptor.detailView.title}}</h3>
		<form class="form-horizontal" role="form">

			<div class="form-group"
				ng-repeat="field in descriptor.detailView.fields">
				<div ng-switch on="field.fieldType">
					<div ng-switch-default>
						<label for="{{field.fieldId}}" class="col-sm-2 control-label">{{field.fieldName}}</label>
						<div class="col-sm-10">
							<div ng-if="field.fieldDisabled == 'true'">
								<input type="{{field.fieldType}}" class="form-control"
									id="{{field.fieldId}}" ng-model="element[field.fieldId]" disabled/>
							</div>
							<div ng-if="field.fieldDisabled != 'true'">
								<input type="{{field.fieldType}}" class="form-control"
									id="{{field.fieldId}}" ng-model="element[field.fieldId]"/>
							</div>
						</div>
					</div>

					<div ng-switch-when='oneToMany'>
						<h3>{{field.fieldName}}</h3>
						<table class="table table-hover">
							<thead>
								<tr>
									<th ng-repeat="column in field.relationshipDescriptor">{{column.fieldName}}</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="row in validRows(field.relationshipDescriptor, element[field.fieldId])"
									ng-click="goTo(field.fieldId.concat('/').concat(row['id']))">
									<td ng-repeat="column in field.relationshipDescriptor">{{formatColumn(row[column.fieldId])}}</td>
								</tr>
							</tbody>
						</table>
						<div ng-if="field.fieldDisabled != 'true'">
							<button type="button" class="btn btn-default" ng-click="create(field.fieldId)">Crear</button>
						</div>
					</div>

					<div ng-switch-when='manyToOne'>
						<label for="{{field.fieldId}}" class="col-sm-2 control-label">{{field.fieldName}}</label>
						<div class="col-sm-10">
							<div class="btn-group btn-group-justified">
								<div class="btn-group">
									<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="{{field.fieldId}}">
										{{element[field.fieldId].$object[0][field.relationshipDescriptor.fieldId]}}
										<span class="caret"></span> <span class="sr-only">Toggle
											Dropdown</span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li ng-if="field.fieldDisabled != 'true'"><a ng-click="changeReference(field.fieldId)">Cambiar</a></li>
										<li ng-if="element[field.fieldId].$object[0]"><a ng-click="goTo(field.fieldId.concat('/').concat(element[field.fieldId].$object[0]['id']))">Ir</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default" ng-click="goBack()">Volver</button>
				<button type="button" class="btn btn-default" ng-click="generateReport()" ng-if="descriptor.reportName">Generar reporte</button>
				<button type="submit" class="btn btn-default" ng-click="save()">Guardar</button>
				<button type="submit" class="btn btn-default" ng-click="remove()">Eliminar</button>
			</div>
		</form>
	</div>
	<div class="col-md-4 column"></div>
</div>