<h3>{{field.fieldName}}</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th ng-repeat="column in field.relationshipDescriptor">{{column.fieldName}}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in validRows()" ng-click="selectAction(field,row)">
			<td ng-repeat="column in field.relationshipDescriptor">{{formatColumn(column,row)}}</td>
			<td><span class="glyphicon glyphicon-remove pull-right" ng-if="field.fieldClickeable!='true'" ng-click="remove(row)"></span></td>
		</tr>
	</tbody>
</table>

<!------------------------------------------------------------------->
<!----------------------------- Create Section ---------------------->
<!------------------------------------------------------------------->

<div ng-if="field.fieldDisabled != 'true'">
	<button type="button" class="btn btn-default"
		href="#{{field.fieldId}}-modal-container" role="button" data-toggle="modal" ng-click="onButtonClick()">Crear</button>

	<div class="modal fade" id="{{field.fieldId}}-modal-container" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<resource-form-mapper descriptor="relationshipDescriptor" element="newElement" element-relationships="newElementRelationships" recursive='false'></resource-form-mapper>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Guardar</button>
				</div>
			</div>
		</div>
	</div>
</div>

